<div class="services">
  <h2>Services</h2>
  <b style="margin:1rem;padding-left:2rem;padding-right:2rem; margin-top: -1px;">Program Committee member:</b>
  <ul style="margin:1rem;padding-left:3rem;padding-right:2rem; margin-top: -1px;">
  <li><a href="https://deeptestconf.github.io/">DeepTest 2021</a></li>
  <li><a href="http://www.mrtc.mdh.se/ITEQS/2021/">ITEQS 2021</a></li>
  <li>SPLC 2020,
  ITEQS 2020,
  VariVolusion 2020,
  QAVS 2020,
  SBMF 2019,
  VariVolusion 2019</li>
  </ul>
  <br>
   <b style="margin:1rem;padding-left:2rem;padding-right:2rem; margin-top: -1px;">Reviewer:</b>
   <ul style="margin:1rem;padding-left:3rem;padding-right:2rem; margin-top: -1px;">
  <li>Science of Computer Programming Journal, SoSyM, PeerJ Journal, e-Informatica Software Engineering Journal</li>
  <li>CILC 2013, ACSD 2014, FOR-MOVES 2014, FSEN 2015, FormaliSE 2015, Coordination 2015,
  FSEN 2015, TTCS 2015, ICFEM 2015, TASE 2016, ACSD 2016, SEFM 2016, ICFEM 2016, FM
  2016, FSEN 2017, ICTAC 2017, ICFEM 2017, HLDVT 2017, VAMOS 2018, SBMF 2018</li>
  </ul>
</div>
