<div class="Selected talks and research visits">
  <h2>Selected talks and research visits</h2>
  <ul style="margin:1rem;padding-left:2rem;padding-right:2rem; margin-top: -1px;">
  <li><a>Joint tutorial on Testing Cyber-Physical Systems: Synergizing Model and AI-based Approaches, ICTAC 2023</a></li>
  <li><a>Invited speaker at Trustworthy Autonomous Systems Verifiability Node talk series, 2023</a></li>
<li><a>Shonan seminar: Formal Methods for Trustworthy AI-based Autonomous Systems, 2023</a></li>
<li><a> Dagstuhl Seminar: Software Evolution in Time and Space: Unifying Version and Variability Management, 2019</a></li>
<li><a>Shonan seminar: Reverse Execution in Testing –Improving Security and Reliability, 2017</a></li>
  </ul>
</div>

