<div class="teachings">
  <h2>Teaching</h2>
  <b style="margin:1rem;padding-left:2rem;padding-right:2rem; margin-top: -1px;">Lecturer:</b>
  <ul style="margin:1rem;padding-left:3rem;padding-right:3rem; margin-top: -1px;">
  <li>Introductory Programming (Graduate course), IT University of Copenhagen.
  Fall 2021, 2020, 2019</li>
  <li> Testing and verication of embedded systems (Graduate course), Halmstad University.
  Spring 2019</li>
  </ul>
  <b style="margin:1rem;padding-left:2rem;padding-right:2rem; margin-top: -1px;">Teaching Assistant:</b>
  <ul style="margin:1rem;padding-left:3rem;padding-right:3rem; margin-top: -1px;">
  <li>Data Security for Embedded Systems (Undergraduate course), Halmstad University.
  Winter 2017, Winter 2018</li>
<li> Real-Time Embedded Systems (Graduate course), Halmstad University.
  Fall 2014, Fall 2016, Fall 2017,Fall 2018</li>
  <li> Advanced Object Oriented Programming (Undergraduate course), Halmstad University.
  Spring 2015, Spring 2016, Spring 2017</li>
  <li> Distributed Systems Programming (Undergraduate course), Halmstad University.
  Fall 2018</li>
  <li> Formal Modeling and Verication (Graduate course), University of Tehran.
  Fall 2012, Fall 2013</li>
  </ul>
<b style="margin:1rem;padding-left:2rem;padding-right:2rem; margin-top: -1px;">Thesis Supervision:</b>
<ul style="margin:1rem;padding-left:3rem;padding-right:3rem; margin-top: -1px;">
  <li>PhD thesis: PhD Thesis: Model-Based Probabilistic Testing for System-level Safety of Underwater Vision-controlled Robot, IT University of Copenhagen,
  Feb 2021-present (supervisor) Student: Sergio Daniel Quijano</li>
  <li>PhD thesis: PhD Thesis: Automatic Program Repair for Linux, IT University of Copenhagen,
  Feb 2019-present (Co-supervised) Student: Alfredo Cruz</li>
  <li>Master thesis: Finding Resource Manipulation Bugs with Monitor Automata on the Example of
  the Linux Kernel, IT University of Copenhagen, Jan 2020-2021 (Co-supervised) Student: Anders
  Fischer-Nielsen</li>
  <li>Bachelor Thesis: Embedded System Design for Autonomous Drones. (As a part of 2018 Student
  CPS Challenge.) Halmstad University, 2018.
  Students: Emil Johansson, Patrick Karlsson</li>
  <li> Master Thesis: Generating Test Adapters for ModelJunit. Halmstad University, 2017. (Co-supervised)
  Student: Ardalan Hashemi Aghdam</li>
  <li>Bachelor Thesis: On Efficiency and Effectiveness of Model-based Test Case Generation Techniques
  by Applying the HSI Method: An Experimental Research. Gothenburg University, 2016. (Co-supervised)
  Students: Mahsa Abbasian, Sali El Masr</li>
</ul>
</div>
