/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Dimensions

$max-content-width: 800px;

// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;
$pink1_my_color:      #f2215a !default;
$pink2_my_color:      #dd9ec0 !default;
$pink3_my_color:      #e54f85 !default;
$green1_my_color:     #509048 !default;
$green2_my_color:     #a3dd9e !default;
$green3_my_color:     #44a582 !default;
$green4_my_color:     #6ab861 !default;
$orange1_my_color:    #ff6a00 !default;
$orange2_my_color:    #ff4d00 !default;
$orange3_my_color:    #e6d688 !default;
$orange4_my_color:    #d7794a !default;
$orange5_my_color:    #d95351 !default;
$orange6_my_color:    #d59f43 !default;
$orange7_my_color:    #d4c63c !default;
$orange8_my_color:    #ddbb9e !default;
$orange9_my_color:    #f4c453 !default;
$orange10_my_color:   #f9a17f !default;
$orange11_my_color:   #B9732F !default;
$blue1_my_color:      #002bff !default;
$blue2_my_color:      #52ccd6 !default;
$blue3_my_color:      #508ffb !default;
$blue4_my_color:      #5bb5ec !default;
$blue5_my_color:      #4d6bff !default;
$blue6_my_color:      #8dfffc !default;
$blue7_my_color:      #5fdec1 !default;
$blue8_my_color:      #9ec2dd !default;
$blue9_my_color:      #f3f5fe !default;
$blue9_dark_my_color: #dadce4 !default;
$blue10_my_color:      #D9D9D9 !default;
$blue11_my_color:      #6B7A8F !default;
$blue12_my_color:      #6D7993 !default;
$blue14_my_color:      #4484CE !default;
$blue15_my_color:      #FAFAFB !default;
$blue16_my_color:      #465C8B !default;
$blue17_my_color:      #52658F !default;
$blue18_my_color:      #333A56 !default;
$blue19_my_color:      #CBD5F0 !default;
$blue20_my_color:      #194F92 !default;
$blue21_my_color:      #EDF6FF !default;
$blue22_my_color:      #437FC7 !default;
$blue23_my_color:      #161B7F !default;
$blue24_my_color:      #FEFEFE !default;
$blue25_my_color:      #C3D4EE !default;
$blue26_my_color:      #4D53B3 !default;
$blue27_my_color:      #15158F !default;
$blue28_my_color:      #6F7BC5 !default;
$purple1_my_color:     #7f73ff !default;
$purple2_my_color:    #67548b !default;
$purple3_my_color:    #9300fb !default;
$purple4_my_color:    #96858F !default;
$purple5_my_color:    #985E6D !default;
$purple6_my_color:    #192231 !default;
$purple7_my_color:    #675682 !default;
$purple8_my_color:    #5F0F4E !default;
$grey_my_color:       #eff1f2 !default;
$silver_my_color:     #f7f7f7 !default;
$silver_dark_my_color: #e9eaeb !default;
/*#########################*/
$blue29_my_color:      #081F62 !default;
$blue30_my_color:      #051747 !default;
$blue31_my_color:      #535F80 !default;
$blue32_my_color:      #E7E9F0 !default;
$blue33_my_color:      #FEFEFE !default;
$green5_my_color:      #3BBA9C !default;
/*##########################*/


$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     darken($grey-color, 25%);

$white-color: #ffffff !default;
$black-color: #000000 !default;
